.tweet {
    cursor: pointer;
}
.tweet:hover {
    --background: var(--ion-color-medium-shade-light);
}
ion-fab {
    // Margem para o floating action button não sobrepor a barra de rolagem do navegador
    margin-right: 20px;
}
